{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<title>Джанго</title>
	<link rel="stylesheet" type="text/css" href="{% static "/static/css/foundation.css" %}">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
	
	
</head>
<body>
<div class="top-bar">
	<section class="top-bar-section">
		<ul class="right">
		{% if username %}
			<li><a href="/auth/logout/">Log Out {{ username }}</a></li>
		{% else %}
			<li><a href="/auth/login/">Log In</a></li>
			<li><a href="/auth/register/">Register</a></li>
		{% endif%}
		</ul>
	</section>
</div>

<h1><a href="/">My Blog</a></h1>

<div class="row">

{% block article %} 

{% endblock %}

{% block login %}
{% endblock %}

{% block register %}
{% endblock %}

{% block recover %}
{% endblock %}

</div>


     <footer class="row">
       <div class="large-12 columns">
         <hr/>
         <div class="row">
           <div class="large-5 columns">
             <p>© Copyright no one at all. Go to town.</p>
           </div>
           <div class="large-7 columns">
            <ul class="inline-list right">
               <li><a href="#">Section 1</a></li>
               <li><a href="#">Section 2</a></li>
               <li><a href="#">Section 3</a></li>
               <li><a href="#">Section 4</a></li>
               <li><a href="#">Section 5</a></li>
               <li><a href="#">Section 6</a></li>
            </ul>
          </div>
         </div>
       </div>
     </footer>


</body>
</html>